h1, h2 {
	font-family: 'Slabo 27px', serif;
	color: #046380;
}
body {
	font-family: 'Hind', sans-serif;
	background-color: #EFECCA;
}
#header-nav {
	background-color: #E6E2Af;
	width: 100%;
	height: 80px;
}
.navbar-brand {
	padding-top: 0px;
}
.navbar-brand h1 {
	vertical-align: middle;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.container-fluid > button {
	background-color: #E6E2AF;
}