* {
	box-sizing: border-box;
}
body {
	background-color: #f5f5f0;
	font-family: Helvetica, sans-serif;
}
h1 {
	text-align: center;
	color: #14141f;
	margin-bottom: 15px;
	font-family: Georgia, Times, Serif;
	font-size: 50px;
}
h2 {
	width: 150px;
	height: 35px;
}
p {
	margin-right: auto;
	margin-left: auto;
	text-align: justify;
	width: 90%;
	clear: right;
}
.menuitem {
	background: white;
	border: 2px solid black;
	margin: 10px;
}
h2 {
	font-family: Georgia, Times, Serif;
	text-align: center;
	color: #14141f;
	border: 1px solid black;
	position: relative;
	float: right;
	width: 115px;
	right: 14px;
	top: -5px;
}
.chicken {
	background-color: #ffcccc;
}
.beef {
	background-color: #d6f5d6;
}
.sushi {
	background-color: #e6ccff;
}
.row {
  width: 100%;
  position: relative;
}
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}